.header {
  padding: 4rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px #fafafa solid;
}

.anchor {
  font-size: 2rem;
}

.anchor:hover,
.anchor:focus,
.anchor:active {
  color: #0070f3;
  border-color: #0070f3;
}
